body{
  background-image: url('/public/images/bg.jpg');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: 50vh;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  background-color: #1f283389;
  margin: 0vw 0vw 0vw 5vw;
}

form div p{
  display: inline-block;
  color: cyan;
  font-weight: 500;
  letter-spacing: 0.2vw;
  width: 200px;
  border-bottom: 1px solid cyan;
  margin: 15px 10px;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form div input{
  background-color: rgba(220, 220, 220, 0.1);
  border: none;
  font-size: 1.5vw;
  padding: 5px;
}

form button{
  font-size: 1.5vw;
  padding: 0.5vw 3vw;
  margin: 2vw 0vw 0vw 0vw;
  color: cyan;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid cyan;
  font-weight: bold;
  transition: 1s;
}

form button:disabled{
  color: rgba(0, 255, 255, 0.1);
  border: 3px solid rgba(0, 255, 255, 0.1);
  background-color: rgb(58, 58, 58);
}

form button:enabled:hover{
  background-color: cyan;
  color: black;
  box-shadow: cyan 0 0 30px 5px;
}

.order{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.orderChild{
  padding: 0 2vw;
  margin: 10px;
}

.image img{
  border-radius: 2vw;
  width: 30vw;
}

.navbar{
  color: white;
  height: 4vw;
  font-size: 1.5vw;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1vw;
  background-image: linear-gradient(
    to left,
    rgba(102, 252, 241, 0),
    rgba(102, 252, 241, 1)
  );
}

.navbar a{
  padding: 1vw 3vw;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  transition: 0.2s;
  font-size: 2vw;
  color: #1f2833;
  height: 100%;
  vertical-align:middle;
}

.navbar a:hover{
  color: #66fcf1;
  background-color: #1f2833b0;
  text-decoration: underline;
}
  
.result{
  font-size: 2vw;
  text-align: center;
  width: 80vw;
  margin: 15vw 10vw 0vw 10vw;
  background-color: rgba(152, 219, 254, 0.4);
  color: black;
  box-shadow: rgba(152, 219, 254, 0.4) 0 0 200px 15px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  padding: 2vw;
}

.gif{
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 10vw;
  left: 35vw;
  opacity: 0.2;
}

.welcome{
  font-size: 1.75vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  width: 60vw;
  margin: 2vw 20vw;
  color: #66fcf1;
  border-bottom: 2px solid #66fcf1;
  padding: 5px;
}

.components{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card{
  height: 30vw;
  margin: 2vw 3vw;
  background-color: #1f2833;
  border-radius: 3vw;
  transition: 1s;
}

.card img{
  height: 70%;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.card div{
  display: block;
  color: #66fcf1;
  text-align: center;
  padding-top: 1vw;
  font-size: 2vw;
  font-weight: bold;
  font-family:monospace;
  width: 100%;
  height: 15%;
}

.card .a{
  display: inline-block;
  background-color: rgb(24, 234, 185);
  color: rgb(25, 43, 25);
  padding: 1vw;
  height: 15%;
  width: 100%;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bolder;
}

.card:hover{
  box-shadow: white 0 0 20px 5px;
}

.left{
  font-size: 1.5vw;
}

.sum{
  display: block;
  margin: 4px;
}

.one{
  display: inline-block;
  width: 10vw;
  color: #66fcf1;
}

.two{
  display: inline;
  color: white;
}

.special{
  text-align: left;
  display: inline-block;
  padding-left: 10vw;
  margin: 1px 0;
}

.details{
  margin-top: 1.5vw;
}

.loader{
  height: 10vw;
  width: 20vw;
  position: relative;
  top: 2vw;
}

.logo{
  width: 5vw;
  height: 5vw;
}

.logosup{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  background-color: #1f283398;
  max-width: 1200px;
  margin: 3vw auto 3vw auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2vw 3vw;
}

.about h1{
  color: #66fcf1;
  padding: 3px;
  font-size: 2.5vw;
  border-bottom: #66fcf1 3px solid;
  display: inline-block;
  width: auto;
}

.about h2{
  margin-top: 1vw;
  padding: 2px;
  font-size: 1.75vw;
}

.about p{
  color: #66fcf1;
  padding: 2px 2px 2px 2vw;
  letter-spacing: 0.2vw;
  font-size: 1.5vw;
}

.wht{
  color: white;
}

.spe{
  text-decoration: underline;
}

.file{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5vw;
}

.file p{
  width: 30vw;
}

.file input{
  display: block;
  width: 20vw;
  margin-top: 0.5vw;
  color: #66fcf1;
}

.file img{
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.file img:hover{
  opacity: 0.5;
}

.file div p{
  border: none;
  font-size: 1.1vw;
  color: white;
}

.file div{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pay{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  flex-direction: column;
}

.pay p{
  margin: 4vw;
  font-size: 4vw;
  color: #66fcf1;
  text-decoration: underline;
}

.pay img{
  height: 300px;
  width: 300px;
  margin: auto;
}

.itemContact{
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemContact a{
  color: #66fcf1;
  border-bottom: 2px solid #66fcf1;
}

.upiid{
  color: #66fcf1;
}

.loader{
  position: absolute;
  background-color: #217eef40;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .about{
    background-color: #1f283398;
    width: 95vw;
    margin: 3vw auto 3vw auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2vw 2vw;
  }
  
  .about h1{
    color: #66fcf1;
    padding: 3px;
    font-size: 6vw;
    text-align: center;
    border-bottom: #66fcf1 3px solid;
    display: block;
    width: auto;
    text-align: center;
  }
  
  .about h2{
    margin-top: 1vw;
    padding: 2px;
    font-size: 4vw;
  }
  
  .about p{
    color: #66fcf1;
    padding: 2px 2px 2px 2vw;
    letter-spacing: 0.2vw;
    font-size: 3vw;
  }

  .result{
    font-size: 4vw;
    position: absolute;
    top: 25vw;
    margin-bottom: 0;
  }
   
  .gif{
    width: 60vw;
    height: 60vw;
    top: 15vw;
    left: 15vw;
    margin-bottom: 0;
  }

  .navbar{
    height: 8vw;
  }

  .navbar a{
    font-size: 3vw;
    margin: 1vw;
    padding: 2vw 3vw;
  }

  .logo{
    width: 10vw;
    height: 10vw;
  }

  .order{
    grid-template-columns: 1fr;
  }

  .left{
    width: 95vw;
    font-size: 4vw;
  }

  .one{
    width: 30vw;
  }

  .left .image img{
    width: 90vw;
  }

  .right{
    padding: 0;
    width: 95vw;
  }

  form{
    margin: 0;
    width: 95vw;
    height: auto;
    padding: 5vw 0 10vw 0;
  }
  
  form div p{
    display: inline-block;
    color: cyan;
    font-weight: 500;
    letter-spacing: 0.2vw;
    width: 30vw;
    border-bottom: 1px solid cyan;
    margin: 15px 10px;
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  form div input{
    background-color: rgba(220, 220, 220, 0.1);
    border: none;
    font-size: 3.5vw;
    padding: 5px;
  }
  
  form button{
    font-size: 5vw;
    padding: 0.5vw 3vw;
    margin: 3vw 0vw 3vw 0vw;
    font-weight: bold;
    transition: 1s;
  }

  .file p{
    width: 50vw;
  }

  .file input{
    display: block;
    width: 50vw;
    margin-top: 0.5vw;
    color: white;
    padding: 1vw 3vw;
  }

  .file img{
    width: 100px;
    height: 100px;
  }

  .file div p{
    border: none;
    font-size: 3vw;
    color: white;
  }

  .file div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
    
  .components{
    display: grid;
    grid-template-columns: 1fr;
  }

  .card{
    height: 50vw;
    margin: 3vw 7vw;
  }

  .card div{
    padding-top: 1vw;
    font-size: 4vw;
  }

  .card .a{
    padding: 1vw;
    font-size: 4vw;
  }
  
  .welcome{
    font-size: 5vw;
    width: 95vw;
    margin: 2vw 2vw;
    color: #66fcf1;
    border-bottom: 2px solid #66fcf1;
    padding: 5px;
  }

}